/* ===== PAGE ===== */

.onboarding {
  background: white;
  min-height: 100vh;
  padding: 20px;
}

/* ===== HEADER ===== */

.onboarding-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.onboarding-header button {
  font-size: 18px;
}

/* ===== PROGRESS ===== */

.progress {
  flex: 1;
  height: 12px;
  background: #f3f4f6;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: var(--yellow);
  border-radius: 10px;
  transition: 0.3s;
}

/* ===== TITLE ===== */

.onboarding-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-main);
  margin-bottom: 6px;
}

/* желтая полоска */

.onboarding-title::after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  background: var(--yellow);
  margin-top: 8px;
  border-radius: 2px;
}

/* ===== OPTIONS ===== */

.onboarding-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* кнопка */

.option {
  padding: 14px 16px;
  border-radius: 999px;
  border: 2px solid var(--yellow);

  font-size: 14px;
  color: var(--text-main);

  cursor: pointer;
  transition: 0.2s;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* активная */

.option.active {
  background: var(--yellow);
  color: white;
}

/* ===== NEXT BUTTON ===== */

.onboarding-next {
  margin-top: 40px;
  min-width: 200px;
  padding: 14px;

  border-radius: 999px;
  border: none;

  background: var(--primary);
  color: white;
  margin: 40px auto 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.onboarding-next:disabled {
  background: #e5e7eb;
}

/* ===== COMPLETE IMAGE ===== */

.complete-image {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.complete-image img {
  width: 100%;
  max-width: 300px;
}
.onboarding-complete {
  padding-top: 40px;
}


/* ===== TIME HEADER ===== */

.time-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 20px;
}

/* ===== SUBTITLE ===== */

.onboarding-subtitle {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #6b7280;
}


/* ===== GRID ===== */

.time-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;

  margin-top: 30px;
}

/* ===== OPTION ===== */

.time-option {
  height: 54px;

  border: 2px solid var(--yellow);
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  cursor: pointer;

  transition: 0.2s;
}

.time-option.active {
  background: var(--yellow);
  color: white;
}