.vocabulary-intro {

    max-width: 420px;

    margin: 0 auto;

    padding: 24px;

    display: flex;
    flex-direction: column;

    gap: 24px;

}

.vocabulary-progress {

    text-align: center;

    font-size: 15px;

    color: #8A8A8A;

}

.vocabulary-card {

    background: #FFFFFF;

    border-radius: 22px;

    padding: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .06);

}

.vocabulary-video {

    width: 100%;

    display: block;

    border-radius: 18px;

}

.vocabulary-word {

    margin-top: 18px;

    text-align: center;

    font-size: 25px;

    font-weight: 700;

}

.vocabulary-caption {

    text-align: center;

    font-size: 13px;

    color: #8A8A8A;

}

.vocabulary-action {

    position: relative;

    height: 56px;

    display: flex;

    justify-content: center;

    align-items: center;
    flex-wrap: wrap;

}

.vocabulary-hint {

    opacity: 1;

    transform: translateY(0);

    font-size: 14px;

    color: #8A8A8A;

    text-align: center;

}

.vocabulary-hint.hide {

    opacity: 0;

    transform: translateY(-6px);

    pointer-events: none;

}

.btn-secondary{
    margin-bottom: 15px;

}
.btn-replay{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-replay img{
    width: 17px;
    height: 100%;
}

.vocabulary-tools {
    display: flex;
    gap: 12px;
    width: 100%;
}